@media only screen and (min-width: 1220px) {

	/* Grid */
	#page {
		width: 1200px;
	}
	#page:before {
		width: 800px;
	}

	/* Primary */
	.content-area {
		width: 800px;
	}

	/* Content */
	.entry-thumbnail {
		width: 720px;
		margin: 0 auto;
	}

	/* Media */
	.entry-attachment .attachment {
		width: 800px;
	}
	.video-wrapper .video-player {
		max-width: 720px;
	}

}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
.css3-blink {
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}			
